/* *****************

BASIC SETUP

*******************/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    background-color: white;
    color: rgb(2, 2, 2);
    scroll-behavior: smooth;
}

.clearfix::after{
    content: ' ';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* *****************

REUSABLE COMPONENTS

*******************/

.row{
    max-width: 1140px;
    margin: 0 auto;
}

/* 
HEADING
*/

h1,h2{
 font-weight: 300;
text-transform: uppercase;
letter-spacing: 1px;

}

h1{
    color: white;
    font-size: 200%;
    word-spacing: 4px;
}

h2{
font-size: 180%;
word-spacing: 2px;
text-align: center;
margin-bottom: 30px;
}

h2::after{
display: block;
height: 2px;
background-color: #23b9ff;
content: "";
width: 100px;
margin: 0 auto;
margin-top: 30px;
}

h3{
    font-size: 110%;
    margin-bottom: 15px;
}

/******************

BUTTONS

*******************/
.btn{
    display: inline-block;
    margin: 10px;
    margin-top: 30px;
    border: 1px solid #23b9ff;
    padding: 10px 30px;
    border-radius: 200px;
    text-decoration: none;
    color: white;
    transform: translate(-7%,-50%);
}

.langDiv{
    display: flex;
    justify-content: end;
}

.btnlang{
    border: 1px solid #ffffff;
    padding: 10px 30px;
    border-radius: 200px;
    text-decoration: none;
    color: white;
    background-color: #23b9ff;
    margin-top: 20px;
    justify-content: end;
    
}

.btnlang:hover{
    cursor: pointer;
}

.btn:link,
.btn:visited,
input[type="submit"]{
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 200px;
    color: white;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type="submit"]{
    background-color: #23b9ff;
}

.btn:hover,
.btn:active{
    background-color: #23b9ff;
}

.btn-full:hover,
.btn-full:active,
input[type="submit"]{
    border: 1px solid #23b9ff;
}

.btn-ghost:link,
.btn-ghost:visited{
color: #ffffff;
}

.btn-ghost:hover,
.btn-ghost:active{
    background-color: #23b9ff;
    color: white;
}



/******************

HEADER

*******************/

header{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(resources/imgs/b1.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.hero-text-box{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    
}

.logo{
    height: 100px;
    width: auto;
    float: left;
    margin: 20px;
}

.logo-black{
    height: 50px;
    width: auto;
    float: left;
    margin: 10px;
    display: none;
}

.main-nav{
     float: right;
     list-style: none;
     margin: 60px;
}

.main-nav li{
 display: inline-block;   
 margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 90%;
    padding-bottom: 8px;
}

.main-nav li a p:hover,
.main-nav li a p:active{
    border-bottom: 2px solid #23b9ff;
}

/*******************

STICK NAV MENU

*******************/

.stick{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 2px whitesmoke;
    z-index: 9999;
}

.stick .main-nav{
    margin-top: 15px;
    margin-bottom: 10px;
}

.stick .main-nav li a:link,
.stick .main-nav li a:visited{
    color: #333;
}

.stick .logo{
    display: none;
}

.stick .logo-black{
    display: block;
}


/*******************

SECTION-FEATURS

*******************/

.AllSections{
     display: flex;
    
    
}

section{
    padding: 20px 50px 100px ;
}

.long-copy{
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
    text-align: center;
}

.box{
    padding: 1%;
}

.box p{
    font-size: 90%;
    line-height: 145%;
}

.icon-big{
    font-size: 300%;
    display: block;
    color: #23b9ff;
    margin: 20px;
}


/*******************

SCROLL

*******************/
.scroll{
    background-color: #cad2e2;
    height: 700px;
}
.gallery{
    width: 900px;
    display: flex;
    overflow-x: scroll;
}

.gallery div{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 10px;
    flex: none;
}

.gallery div img{
    width: 250px;
    height: 400px;
    
}

.gallery::-webkit-scrollbar{
    display: none;
}

.gallery-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10% auto;
}

#backBtn, #nextBtn{
    width: 50px;
    cursor: pointer;
    margin: 40px;
}

.section-steps{
    background-color: #e4e4e4;
}

.steps-box{
    margin-top: 30px;
}

.steps-box:first-child{
text-align: right;
padding: 3%;

}

.steps-box:last-child{
padding: 3%;
}

.app-screen{
    width: 250px;
}

.work-step div{
    width: 50px;
    height: 50px;
    border: 2px solid #23b9ff;
    border-radius: 50%;
    text-align: center;
    padding: 6px;
    font-size: 150%;
    float: left;
    margin-right: 10px;
}

.work-step{
    margin-top: 50px;
}

.btn-app{
    text-decoration: none;
}

.btn-app img{
    height: 50px;
    width: auto;
    margin-top: 20px;
}


.Phone_Section{
    display: flex;
    justify-content: space-around;
    
}

.section-testimonials{
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(resources/imgs/g2.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

blockquote{
    padding: 20px;
    font-style: italic;
    line-height: 145%;
    border: #6fd6ff 2px;
    position: relative;
}

blockquote::before{
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
}

cite{
    font-size: 90%;
    margin-top: 25px;
    display: block;
}

cite img{
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}


.City_Build{
    display: flex;
    justify-content: space-around;
    
}

.City_Img{
    width: 250px;
}
/*******************

SIGN-UP

*******************/
.Person_Build{
    display: flex;
}
.section-plans{
    background-color: #f4f4f4;
}

.plan-box{
    background-color: #ffffff;
    border-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 90%;
    margin-left: 5%;
}

.plan-box div{
    padding: 15px;
    border-bottom: 1px solid #a4f1fc;
}

.plan-price{
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 100;
    color: #78b0e6;
}

.plan-price-meal{
    font-size:80%;
}

.plan-price span{
    font-size: 30%;
    font-weight: 300;
}

.plan-box ul{
    list-style: none;
}

.plan-box ul li{
    padding: 5px 0;
}

.plan-box div:first-child{
    background-color: #6be9ff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.plan-box div:last-child{
    text-align: center;
}

.All_Offers{
    display: flex;
    padding-left: 100px;
}

.Offer_1{
    width: 400px;
}

.Longer{
    height: 245px;
}

.contact-form{
    width: 60%;
    margin: 0 auto;
}









:root {
    --success-color: #2ecc71; 
    --error-color: #e74c3c;  
    --medium-color: rgb(112, 112, 0);  
}


.container{
    background-color:#fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
}


form{
    padding: 30px 40px;
}

.form-control{
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
}

.form-control label{
    display: block;
    color: #777;
    margin-bottom: 5px;
}

.form-control input {
    display: block;
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    padding: 10px;
    width: 200px;
}

.form-control input:focus {
    outline: 0;
    border-color: #777;
}

.form-control small{
    color: var(--error-color);
    position: absolute;
    bottom: -5px;
    left: 0;
    visibility: hidden;
    margin-top: 10px;
}

.form button{
    cursor: pointer;
    background-color: rgb(35, 87, 231);
    border: 2px solid rgb(35, 87, 231);
    color: white;
    display: block;
    font-size: 16px;
    width: 200px;
    padding: 10px;
    margin-top: 20px;
    border-radius: 15px;
}

.form-control.success input {
    border-color: var(--success-color);
}

.form-control.error input {
    border-color: var(--error-color);
}

.form-control.medium input {
    border-color: var(--medium-color);
}

.form-control.strong input {
    border-color: var(--success-color);
}

.form-control small {
    visibility: visible;
    color: var(--error-color);
}

.form-control.success small {
    color: var(--success-color);
}

.form-control.medium small {
    color: var(--medium-color);
}

.form-control.strong small {
    color: var(--success-color);
}


.picone{
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

.pictwo{
    box-shadow: rgba(0, 128, 0, 0.4) 5px 5px, 
            rgba(0, 128, 0, 0.3) 10px 10px, 
            rgba(0, 128, 0, 0.2) 15px 15px, 
            rgba(0, 128, 0, 0.1) 20px 20px, 
            rgba(0, 128, 0, 0.05) 25px 25px;
}

.pic3{
    box-shadow: rgba(0, 255, 255, 0.4) 5px 5px, 
            rgba(0, 255, 255, 0.3) 10px 10px, 
            rgba(0, 255, 255, 0.2) 15px 15px, 
            rgba(0, 255, 255, 0.1) 20px 20px, 
            rgba(0, 255, 255, 0.05) 25px 25px;
}


.Img_txt{
    color: white;
    padding-top: 20px;
}
/*******************

FOOTER

*******************/

footer{
    background-color: #333;
    padding-top: 60px;
}

.footer-nav{
    list-style: none;
    float: left;
}

.social-icons{
    list-style: none;
    float: right;
    
}

.social-icons li ion-icon{
    color:#23b9ff;
}

.footer-nav li,
.social-icons li{
    display: inline-block;
    margin-right: 20px;
}

.footer-nav a{
    text-decoration: none;
    color: #ccc;
}

footer p{
    color: #ccc;
    text-align: center;
    font-size: 90%;
    padding-bottom: 20px;
    margin-top: 25px;
}


#navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    transition: background-color 0.3s ease, color 0.3s ease;
    z-index: 10;
}

#navbar.scrolled {
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 150px;
}

#navbar .main-nav .nav-link {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

#navbar.scrolled .main-nav .nav-link {
    color: black;
}


.logo-black {
    display: none;
}

#navbar.scrolled .logo {
    display: none;
}

#navbar.scrolled .logo-black {
    display: block;
}